<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Menu</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    </head>
    <body>

        <nav th:fragment="menu(currentPage)" class='navbar navbar-default'>
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">MyApp</a>
                </div>
                <div>
                    
                    <!-- add menu links here -->
                    <ul class="nav navbar-nav">
                        <li th:classappend="${currentPage == 'home'} ? 'active'"><a href="#" th:href="@{/home}">Home</a></li>
                    </ul>
                    
                    <!-- authorization section -->
                    <ul class='nav navbar-nav navbar-right'>
                        <li th:classappend="${currentPage == 'login'} ? 'active'" sec:authorize='!isAuthenticated()'>
                            <a href="#" th:href="@{/login}"><span class='glyphicon glyphicon-log-in'/> Log in</a>
                        </li>
                        <li th:classappend="${currentPage == 'register'} ? 'active'" sec:authorize='!isAuthenticated()'>
                            <a href="#" th:href="@{/register}"><span class='glyphicon glyphicon-pencil'/> Register</a>
                        </li>
                        <li th:classappend="${currentPage == 'logout'} ? 'active'" sec:authorize='isAuthenticated()'>
                            <a href="#" th:href="@{/logout}"><span class='glyphicon glyphicon-log-out'/> Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- jQuery -->
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

        <!-- Bootstrap -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </body>
</html>
