<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout"
    >
    <head>
        <title>TODO</title>
        <meta charset="UTF-8"/>

        <!-- css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">TODO</a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="#">Todo</a></li>
                    <li><a href="#">Calendar</a></li>
                </ul>

            </div>
        </nav>

        <div class="container" layout:fragment="content">

            <!-- list of todos -->
            <div>
                <nav>
                    <ul class="pager">
                        <li class="pager-prev">
                            <a href="#" th:href="@{/tasks/}+${prevDate}">Previous day</a>
                        </li>
                        <li class="pager-next">
                            <a href="#" th:href="@{/tasks/}+${nextDate}">Next day</a>
                        </li>
                    </ul>
                </nav>

                <ul class="list-group">
                    <li class="list-group-item" th:each="task : ${tasks}">
                        <a
                            class="glyphicon"
                            th:classappend="${task.status} ? 'glyphicon-check' : 'glyphicon-unchecked'"
                            href="#"
                            th:href="@{/tasks/} + ${nowDate} + '/setStatus?id=' + ${task.id} + '&amp;status=' + !${task.status}"
                            ></a>

                        <span class="" th:text="${task.todo}">task to be done</span>

                        <div class="pull-right">
                            <a class="glyphicon glyphicon-remove text-danger"></a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <footer class="footer">
            <div class="container">
                Copyright by Dagothar 2016
            </div>
        </footer>

        <!-- js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="../static/js/main.js" th:src="@{/css/main.js}"></script>
    </body>
</html>
